#cloud-config

---
coreos:
  units:
    - name: postfix.service
      command: start
      content: |
        [Unit]
        Description=Postfix
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        ExecStartPre=-/usr/bin/docker kill hugot/strocamp-postfix:latest
        ExecStartPre=-/usr/bin/docker rm hugot/strocamp-postfix:latest
        ExecStartPre=/usr/bin/docker pull hugot/strocamp-postfix:latest
        ExecStart=/usr/bin/docker run --name postfix -p 25:25 hugot/strocamp-postfix:latest
        ExecStop=/usr/bin/docker stop postfix

        [Install]
        WantedBy=multi-user.target
